// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FAC05E;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$orange-button: rgb(235, 90, 57);
$orange-button-hover: rgb(236, 110, 59);
$green-carbon: #34a858;
