
<div class="article" id="article_one_index">
  <%= image_tag src="https://images.unsplash.com/photo-1524850011238-e3d235c7d4c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=787&q=80" , alt: "slow travel", class: "article-image" %>
  <div class="article-text-left">
    <h3>What is Slow Traveller ?</h3>
    <p>Slow traveller help you find the best places around you where you can go with a low impact on the environnement. Wondering what will be your next travel step ? Find it out with slow traveller !</p>
  </div>
</div>

<div class="article">
  <div class="article-text-right">
    <h3>The art of slow travelling</h3>
    <p>“Slow travel is not so much a particular mode of transportation as it is a mindset. Rather than attempting to squeeze as many sights or cities as possible into each trip, the slow traveler takes the time to explore each destination thoroughly and to experience the local culture.”</p>
  </div>
  <%= image_tag src="https://images.unsplash.com/photo-1442570468985-f63ed5de9086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=793&q=80" , alt: "slow travel", class: "article-image" %>
</div>

