<div class="legend">
  <p><i class="fas fa-train gray"></i><b> High speed train</b></p>
  <p><i class="fas fa-train"></i><b> Other train</b></p>
  <p><i class="fas fa-subway gray"></i><b> Metro and tram</b></p>
  <p><i class="fas fa-bus gray"></i><b> Urban bus</b></p>
  <p><i class="fas fa-bus"></i><b> Trolley bus</b></p>
  <p><i class="fas fa-bus"></i><b> Travel bus</b></p>
  <p><i class="fas fa-ship"></i><b> Boat</b></p>
  <p><i class="fas fa-taxi"></i><b> Taxi</b></p>
  <p><i class="fas fa-tram"></i><b> Cable car</b></p>
</div>
