<div class="legend">
  <p><i class="fas fa-train blue"></i>  High speed train</p>
  <p><i class="fas fa-train"></i>  Other train</p>
  <p><i class="fas fa-subway gray"></i>  Metro and tram</p>
  <p><i class="fas fa-bus gray"></i>  Urban bus</p>
  <p><i class="fas fa-bus green"></i>  Trolley bus</p>
  <p><i class="fas fa-bus"></i>  Travel bus</p>
  <p><i class="fas fa-ship"></i>  Boat</p>
  <p><i class="fas fa-taxi yellow"></i>  Taxi</p>
  <p><i class="fas fa-tram"></i>  Cable car</p>
</div>
