.article {
  margin: 120px 0 0 0;
  height: 180px;
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.article-text-left {
  width: 65%;
  color: white;
  p {
    font-size: 20px;
  }
}

.article-text-right {
  text-align: right;
  width: 65%;
  color: white;
  p {
    font-size: 20px;
  }
}

.article-image {
  margin-bottom: 150px;
  height: 100%;
  width: 30%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
