.button {
  background-color: $orange-button;
  color: white;
  text-align: center;
  padding: 4px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: $body-font;
}

.button:hover {
  background-color: $orange-button-hover;
  opacity: 0.9;
  color: white;
}
