.button {
  width: 160px;
  background-color: rgb(235, 90, 57);
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 4px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(236, 110, 59);
}
