.button {
  background-color: $orange-button;
  color: white;
  text-align: center;
  padding: 4px 15px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: $orange-button-hover;
  color: white;
}
