.main-cards {
  margin-top: 20px;
}

.destination-card {
  background: white;
  width: 500px;
  height: 120px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 30% auto;
}

.destination-image {
  width: 100%;
}

#link_destination {
  color: black;
}

.destination-infos h2 {
  font-size: 18px;
  font-weight: bold;
}

.destination-infos p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
}

.destination-card .destination-infos {
  padding: 16px;
}
