.destination {
  display: flex;
  justify-content: space-between;
  color: white;
}

#button-show {
  width: 200px;
  padding: 4px 15px;
}

.destination-image {
  width: 430px !important;
  height: 100% !important;
  object-fit: cover;
}

// layout cards

.cards-destination-show {
  width:800px;
  margin: 0 auto;
}

.card-destination-show-general, .card-destination-show-details {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: grid;
  padding: 10px;
}

.card-destination-show-general {
  grid-template-columns: 25% 25% 40% 10%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  position: relative;
  .card-destination-transit-icon {
    display: flex;
    justify-content: space-between;
  }
  .card-destination-carbon {
    display: flex;
    align-items: center;
    p {
      font-size: 33px;
      color: $green-carbon;
      line-height: 88%;
      font-weight: bold;
    }
    .fa-leaf {
      color: $green-carbon;
      font-size: 53px;
      margin-right: 10px;
    }
  }
  .card-destination-info {
    p {
      font-size: 16px;
      font-weight: bold;
    }
    .card-destination-info-grey {
      font-size: 14px;
      opacity: .7;
      font-weight: normal;
      font-style: italic;
    }
  }
  .card-destination-price {
    text-align: center;
    p {
      font-weight: bold;
      opacity: .6;
      font-size: 25px;
    }
  }
}

.destination-infos-details {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}

.card-destination-show-details {
  background-color: rgba(255, 255, 255, .7);
  grid-template-columns: 5% 70% 25%;
  align-items: center;
  grid-row-gap: 10px;
  display: grid;
  position: relative;
  .card-destination-details-icon {
    z-index: 20;
    .icon {
      background-color: white;
    }
  }
}


.in-between {
  display: inline-block;
  margin-left: 15px;
  .duration-in-between {
    font-size: 10px;
    color: $gray;
    opacity: .7;
    margin-right: 15px;
  }
}

.vertical-line {
  width: 3px; /* Line width */
  background-color: black; /* Line color */
  height: 92%;
  position: absolute;
  top: 11px;
  left: 23px;
  z-index: 1;
}

.circle-top {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 7px;
  left: 21px;
  z-index: 1;
}

.circle-bottom {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 7px;
  left: 21px;
  z-index: 1;
}

#barre-carbone {
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 84%;
  position: absolute;
  left: 205px;
}

#barre-icons {
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 84%;
  position: absolute;
  left: 388px;
}

#barre-prix {
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 84%;
  position: absolute;
  right: 87px;
}

@media(max-width: 992px) {

}

@media(max-width: 768px) {

}
