.form-banner {
  margin: 30px 0px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  color: white;
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-bottom: 30px;
    font-weight: 200;
  }
  .image-banner {
    height: 100%;
  }
}

.form-box {
  width : 60%;
}

.form-search {
  background-color: $yellow;
  padding: 15px 5px;
  border-radius: 5px;
  width : 300px;
  .button {
    width: 100%
  }
}
