.legend {
  border: 5px solid $orange-button;
  margin: 30px auto 0;
  background: white;
  width: 750px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  p {
    padding: 10px;
    padding: 10px 0 10px 10px;
  }
  b {
    color: $orange-button;
  }

}
