.legend {
  border: 5px solid $orange-button;
  margin: 30px auto 0;
  background: white;
  width: 750px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  p {
    padding: 10px;
    padding: 10px 0 10px 10px;
  }
  b {
    color: $orange-button;
    font-family: $headers-font;
    margin-left: 3px;
    font-size: 17px;
  }

}
