.text-description {
  display: flex;
  justify-content: space-between;
  height: 97px;
  padding-top: 5px;
  .fa-plus-square {
    color: $green;
    margin-top: 6px;
  }
}

.edit_step {
  width: 100%;
  display: flex;
  align-items: center;
  .text {
    flex-grow: 1;
    margin-right: 10px;
    textarea {
      font-family: $body-font;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 100;
    }
  }
  input {
    font-family: $body-font;
    font-size: 14px;
    font-weight: normal;
    background-color: $green;
    color: white;
    height: 30px;
    width: 40px;
  }
}
