.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  font-family: $logo-traveller;
  color: $gray;
  opacity: .8;
  #logo-slow {
    font-family: $logo-slow;
    color: #52d87a;
  }
}

.navbar-item {
  margin: 0 18px;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  .navbar-link {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

