.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: $logo-traveller;
  color: $gray;
  opacity: .8;
  #logo-slow {
    font-family: $logo-slow;
    color: #52d87a;
  }
}
