.navbar-lewagon {
  height: 80px;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.3s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
  font-family: "Lobster";
  color: white;
  opacity: .8;
  font-size: 24px;
  padding-left: 20px;
}

.navbar-item {
  margin: 0 18px;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  .navbar-link {
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

