
.progress-lign {
  background: none;
  color: $gray;
  display:flex;
  padding: 5px 0 15px 0;
  i {
    padding-right: 10px;
    // color: $orange-button;
  }
}

.progress-my-travel{
  background: $green;
  height: 15px;
  border-radius: 4px;
}

.progress-max{
  background: $green;
  height: 15px;
  border-radius: 4px;
}

.progress-plane{
  background: $orange-button;
  height: 15px;
  border-radius: 4px;
}

.value {
  padding-left: 10px;
  font-family: $headers-font;
  color: #1B998B;
  font-size: 18px;
  margin-top: -2px;
}

.other-color {
  color: $orange-button;
}

.plane {
  color: $orange-button
}

.bus {
  color: $green
}

.earth {
  color: $green
}
