
.progress-lign {
  background: none;
  color: $gray;
  display:flex;
  padding-bottom: 15px;
}

.progress-my-travel{
  background: $green;
  height: 15px;
  border-radius: 4px;
}

.progress-max{
  background: $green;
  height: 15px;
  border-radius: 4px;
}

.progress-plane{
  background: $red;
  height: 15px;
  border-radius: 4px;
}

.value {
  padding-left: 10px;
}
