.spinner {
  position: relative;
  h3 {
    padding: 10px;
  }
  .text-spinner {
    text-align: center;
    color: white;
  }
  .spinner-train {
    position: absolute;
    width: 200px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: train;
    -webkit-animation-duration: 5s;
  }
}

@-webkit-keyframes train {
  0% { left: 0;}
  50% {
    left : 75%;
  }
  100% {
    left: 0;
  }
}


