.main-container {
  padding-bottom: 150px !important;
}

.travel-diary {
  h1 {
    font-size: 90px;
    color: white;
    margin-top: 40px;
  }
}

.head {
  display: flex;
  justify-content: space-between;
}

.stamp-total-carbon {
  height: 90px;
  margin-top: 53px;
  background-color: rgba(255, 255, 255, 1);
  font-family: $headers-font;
  transform: rotate(-3deg);
  color: $green;
  font-size: 46px;
  font-weight: 700;
  border: 8px double $green;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  -webkit-mask-size: 944px 604px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  b {
    font-size: 27px;
  }
}

.steps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  margin-top: 35px;
  margin-bottom: 45px;
}

.step-card-first {
  height: 350px;
  padding: 15px 15px 100px 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  transform: rotate(-2deg);
}

.step-photo-first {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.step-infos-first {
  h3 {
    color: $orange;
    margin-top: 16px;
  }
}

.step-card {
  height: 350px;
  padding: 15px 15px 100px 15px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  transform: rotate(-2deg);
}

.step-photo {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.stamp-destination {
  background-color: rgba(255, 255, 255, 1);
  font-family: $headers-font;
  transform: rotate(-2deg);
  position: absolute;
  top: 23px; right: 8px;
  color: $orange-button;
  font-size: 27px;
  font-weight: 700;
  border: 3px solid $orange-button;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  -webkit-mask-size: 944px 604px;
}

.stamp-carbon {
  background-color: rgba(255, 255, 255, 1);
  font-family: $headers-font;
  transform: rotate(-2deg);
  position: absolute;
  top: 200px; right: 8px;
  color: $green;
  font-size: 24px;
  font-weight: 700;
  border: 3px solid $green;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  -webkit-mask-size: 944px 604px;
  b {
    font-size: 18px;
  }
}

.stamp-arrival {
  background-color: rgba(255, 255, 255, 1);
  font-family: $headers-font;
  transform: rotate(-2deg);
  position: absolute;
  top: 72px; right: 8px;
  color: $orange-button;
  font-size: 17px;
  font-weight: 700;
  border: 3px solid $orange-button;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  -webkit-mask-size: 944px 604px;
}

.step-infos {
  p {
  padding-top: 5px;
  font-weight: 300;
  opacity: 0.4;
  }
}

.step-button-carbon {
  float: right;
  margin-top: -32px;
  margin-right: 85px;
  background-color: rgba(255, 255, 255, 1);
  font-family: $headers-font;
  transform: rotate(-3deg);
  color: $orange-button;
  font-size: 17px;
  font-weight: 700;
  border: 3px solid $orange-button;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
}

.step-button-carbon:hover {
  background-color: $orange-button-hover;
  border: 3px solid $orange-button-hover;
  color: white;
}
