<div class="main-container">
  <h1>It's more about the journey than the destination</h1>
  <div><%= render 'shared/form_research' %></div>
</div>

<div class="main-container content-index">
  <% if params["/destinations"] == nil %>
    <%= render 'shared/home_logout' %>
  <% else %>
    <%= render 'shared/card-destination-index' %>
  <% end %>
</div>
