<div class="main-container">
  <div class="form">
    <div class="col-sm-12">
      <div id="destinations">
        <h3>You are a slow traveller</h3>
        <%= render 'shared/form_research' %>
      </div>
    </div>
  </div>
  <div class="results">
    <% @destinations.each do |destination| %>
      <div class="result">
        <p><%= "#{destination.name}" %></p>
      </div>
    <% end %>
  </div>
</div>

