<div class="main-container">
    <h1>Destinations#index</h1>
    <p>Find me in app/views/destinations/index.html.erb</p>

    <div class="form">
      <div class="col-sm-12">
        <div id="destinations">
          <h3>You are a slow traveller</h3>
          <%= render 'shared/form_research' %>
        </div>
      </div>
    </div>


    <div class="results">
        <% @destinations.each do |destination| %>
      <div class="result">
        <p><%= link_to destination.name, destination_path(destination) %></p>
      </div>
        <% end %>
    </div>
</div>

