<h1>Destinations#index</h1>
<p>Find me in app/views/destinations/index.html.erb</p>

  <div class="form">
    <div class="col-sm-12">
      <div id="destinations">
        <h3>You are a slow traveller</h3>
        <%= render 'shared/form_research' %>
        <ul>
          <% @destinations.each do |destination| %>
            <li><%= "#{destination.name} #{destination.longitude} #{destination.latitude}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
