function displayPrice() {
  const parentDiv = document.querySelector("[data-journey-id='<%= params['journey']['departure_time'] %>']")
  const button = parentDiv.querySelector(".button");
  parentDiv.removeChild(button);
  parentDiv.insertAdjacentHTML("beforeend", `<p><%= @prices[0] %> to <%= @prices[1] %> CHF</p>`);
};

displayPrice();



